:root {
    --hudMargin: 40px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding 0;
    overflow: hidden;
    user-select: none;
}
#content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#hud {
    font-size: 1.1em;
    width: calc(40% - var(--hudMargin));
    margin: var(--hudMargin);
    font-family: "SF Pro Display", sans-serif;
}
