:root {
    --hudMargin: 40px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding 0;
    overflow: hidden;
    user-select: none;
}

#content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#hud {
    width: calc(30% - var(--hudMargin));
    margin: var(--hudMargin);
    padding: 0 10px;
    font-family: "SF Pro Display", sans-serif;
    font-size: .8em;
    background: rgba(255, 255, 255, .8);
    border-radius: 20px;
}

#hud2 {
    display: none;
    position: absolute;
    bottom: 0;
    width: 50%;
    margin: var(--hudMargin);
}

#hud2 > div {
    display: grid;
}

#hud2 p {
    color: #fff;
    margin: 1em 0 .25em 0;
    font-family: "SF Pro Display", sans-serif;
    font-size: 1em;
}

.progress-bar {
    width: 50%;
    background: rgba(0, 0, 0, .5);
    height: 1px;
}

.progress-status {
    height: .5em;
}

#water {
    width: 50%;
    background: #00b2ce;
}

#energy {
    width: 50%;
    background: #ff5000;
}

#efficiency {
    width: 5%;
    background: #fff;
}
